img#book {
    height: 200px;
    width: 180px;
}

#book_container {
    border: 1px #000 solid;
}

#bookname {
    font-size: 20px;
}

#writer {
    font-size: 15px;
}

#details_container {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

div.details_container {
    display: flex;
    line-height: 30px;
}

img.details_container {
    height: 30px;
    width: 30px;
}

table#container_listbook {
    margin-left: 4%;
    margin-right: 4%;
}